@import './page-header.scss';

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white: #fff;
    --black: #000;
    --secondary-bcg-color: #F5F4FA;
    --bcg-for-hw2: #F5F5F5;
    --footer-bgc: #2F303A;
    --footer-text-color:rgba(255,255,255,0.6);
    --border:  #ECECEC;
    --transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

/* СТИЛІ ДЛЯ СТУДІЇ */





.logo {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-right: 93px;
}

.web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}


/* SITE NAV */

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav li:not(:last-child) {
    margin-right: 50px;
}



.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.site-nav .link:hover,
.site-nav .link:focus {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
color: var(--accent-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link:current {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}



/* HERO */
.hero {
    background-color: #2F303A;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/bgimg.jpg);
}

.hero-title {
    
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  color: var(--white);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

}

.hero-button {
    
    color:var(--white);
    background-color:var(--accent-color);
    border-color: transparent;
    width: 216px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


}

/* SECTION */

section {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container.features li {
display: block;
justify-content: center;
}

.feature-list {
    padding-bottom: 0;
}

.allfeatures {
    display: flex;
    flex-direction: row;
    
    margin-right: auto;
    margin-left: auto;
    
    padding-right: 0;
    align-items: baseline;
}


.all-features:not(:last-child) {
    margin-right: 30px;
}

.all-features {
    width: 270px;
}

.grey-features {
    /* content: ''; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color:var(--secondary-bcg-color);
}



.feature-list, .work {
    background-color: var(--white);
}

.section-title {
    color: var(--secondary-text-color);
}

/*  FEATURES*/



.feature-list .title {
    color:var(--secondary-text-color);
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}

.feature-list .text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}

/* WORK */


.pictures {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.work .work-title, .team-title, .clients-title {
    color: var(--secondary-text-color);
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.pic-box {
    position: relative;
}

.text-div {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.pic-text {

font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 27px;
margin-bottom: 27px;

color: #FFFFFF;
}

.work-img {
    display: block;
}

/* КОМАНДА*/



.flex-container > ul{
    display: flex;
    flex-direction: row; 

}

.team-item {
    width: 270px;
    background-color:var(--white);
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;

    border-radius: 0px 0px 4px 4px;
}


.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-item:first-child {
    margin-left: 0;
}


.team {
    background-color:var(--secondary-bcg-color);
}

.team-title {
    margin-bottom: 50px;
    margin-top: 0;

}


.name {
    color: var(--secondary-text-color);
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-top: 0;
margin-bottom: 10px;
}

.job {
    color: var(--primary-text-color);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 16px;
margin-top: 0;
}

.paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}


.socials-item {
    width: 44px;
    height: 44px;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    fill: #afb1b8; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    

}

.socials-link:hover, .socials-link:focus {
    fill: var(--white);
    background-color: var(--accent-color);
}



.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
    background-color: var(--white);
}




.clients-title {
    margin-bottom: 50px;
    margin-top: 0;
}

.our-clients {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.client-item {
    width: 170px;
    height: 92px;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

/* .client-item:hover {
    border: 1px solid var(--accent-color);
} */

.client-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.client-a:hover, .client-a:focus {
    color:var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-svg {
    fill: currentColor;
}

/* ФУТЕР */

.footer {
    background-color: var(--footer-bgc);
    padding: 60px 0;
}

.part-one {
margin-right: 70px;
}

.contact-li:not(:last-child) {
    margin-bottom: 9px;
}


.contact-nav .downlink{
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .downlink:hover, 
.contact-nav .downlink:focus {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.location {
    font-style: normal;
    color:var(--white);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 12px;
margin-top: 28px;
}


.lower-logo {
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 28px;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}


.socials.footer {
    padding: 0;
}


.join-div {
 display: flex;
 width: 206px;
 height: 80px;
 flex-direction: column;
 justify-content: center;
 margin-left: 70px;
}

.join-us {
    margin-top: 72px;
    margin-left: 516px;
}

.join, .subscribe-text {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
}

.join-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.join-a:hover, .join-a:focus {
    background-color: var(--accent-color);
    color: white;
}

.join.svg {
    fill: currentColor;
}



.container.one {
    display: flex;
align-items: baseline;
}

.logo-container, .join-div {
    display: inline-block;
}


.subscribe-button {
    width: 200px;
    height: 50px;
    margin-left: 12px;

    background-color:var(--accent-color) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    fill: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.white-send-svg {
    fill: white;
    margin-left: 10px;

}



.subscription-block {
    display: flex;
    flex-direction: column;
    margin-left: 94px;
}

.area-and-button {
margin-top: 20px;
}

.subscribe-form input::placeholder{

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input {
    width: 358px;
    height: 50px;
background-color: rgba(47, 48, 58, 1);
 border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;

color: #F5F4FA;
}
    
.mail-icon {
fill: #212121;
}

/* СТИЛІЗАЦІЯ СТОРІНКИ ПОРТФОЛІО*/


.main-section {
    background-color: var(--white);
}
.portfolio-button {
color: var(--secondary-text-color);
background-color: var(--secondary-bcg-color);
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;

border-radius: 4px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
}

.prt-btn {
    padding-bottom: 0;
}



.pb:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button:not(:last-child) {
    margin-right: 8px;
    background: var(--secondary-bcg-color);

}

.portfolio-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white);
    background-color: var(--accent-color);
    box-shadow:   0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.port-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.sect-card {
padding-top: 0;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
 
}

.cardsubtitles {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}

.cselement {

    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cselement:nth-child(3n) {
    margin-right: 0;
}

.cselement:hover {
    box-shadow:  1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}




.card-title {
    color: var(--secondary-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 0;
margin-bottom: 0;
}

.card-area {
    color: var(--primary-text-color);
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 0;
padding-top: 4px;
}

.card-description {
    color: var(--white); 
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
margin: 0;
}

.resource {
    position: absolute;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;

    color:rgba(255, 255, 255, 1);
}

.card-box {
position: relative;
overflow: hidden;
}

.product-thumb {
position: absolute;
left: 0;
top: 0;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
margin: 0;
width: 100%;
height: 100%;
transform: translateY(101%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb-link:hover .product-thumb,
.product-thumb-link:focus .product-thumb {
transform: translateY(0);
display: block;
}



/* ------------ MODAL WINDOW --------------- */

.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal {
    position: absolute;

    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:  rgba(255, 255, 255, 1); 
    background-color: #fff;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-svg {
    fill: currentColor;
}

.close-button:hover {
    color: var(--accent-color);
}

textarea {
    resize: none;
}


.modal-content {
width: 448px;
height: 342px;

margin-right: auto;
margin-left: auto;
}

.leave-form {
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0.03em;
text-align: center;

margin-top: 40px;

color: rgba(33, 33, 33, 1);
}
 
.form-field {

    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field.last {
    margin-bottom: 0;
}

.form-input {
    margin-top: 4px;
    height: 40px;
    font-size: inherit;
    display: inline-block;

    outline: none;
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + svg,
.form-input:focus + svg {
    fill: var(--accent-color);
}



.modal-icon-positioning {

    position: absolute;
    display: block;
  
    left: 13.5px;
    bottom: 11.5px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-icon-positioning:focus {
    fill: var(--accent-color);
} */

.form-field input {
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover input,
.form-field:focus input {
    border: 1px solid var(--accent-color);
    /* fill: var(--accent-color); */
}


.label-text {

font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
text-align: left;

color: rgba(117, 117, 117, 1);

}
/* 
.label-text:focus {
    fill: var(--accent-color);
} */


.text-area {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    font-size: inherit;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    margin-top: 4px;
}

.text-area::placeholder {

font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(117, 117, 117, 0.5);

}

.text-area:hover {
    border-color: var(--accent-color);

}

.form-field:hover, .form-field:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);

    transition: border  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    margin-left: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 4px;

    position: absolute;

    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}


.agreement {
    margin: 0;
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    background-image: url(../images/icons.svg#icon-black-square);
    border-radius: 2px;
    margin-right: 7px;

    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
    display: flex;
    align-items:center;
    margin-top: 20px;
    margin-left: 0;
}

.checkbox-input:checked + .checkbox-icon {
    background-color:var(--accent-color);
    border-color:var(--accent-color) ;

    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
}


.conditions-span {
    color:  rgba(33, 150, 243, 1);
    text-decoration: underline;
}

.submit-button {
    width: 200px;
    height: 50px;
    background: var(--accent-color); 
    border-radius: 4px;
    border-color: transparent;

    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0;
}

.submit-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}