
// .container.features li {
//     display: block;
//     justify-content: center;
//     }
    
.features {
    padding-bottom: 0;
}


@media screen and (max-width: 480) { 
    .feature__list {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
}
    
// .features__list {

// @media screen and (min-width: 480px) and (max-width: 767px), (min-width: 1200px) {

//     .container.features li {
//         display: block;
//         justify-content: center;
//         }
    
//     display: flex;
//     flex-direction: row;
    
    
//     margin-right: auto;
//     margin-left: auto;
            
//     padding-right: 0;
//     align-items: baseline;

//     .features__item:not(:last-child) {
//         margin-right: 30px;
//     }
    
//     .features__item {
//         width: 270px;
//     }
// }

// }
// display: flex;
// flex-direction: row;


// margin-right: auto;
// margin-left: auto;
        
// padding-right: 0;
// align-items: baseline;
 
    
    
    // .features__item:not(:last-child) {
    //     margin-right: 30px;
    // }
    
    // .features__item {
    //     width: 270px;
    // }
    
    .features__block {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        background-color:var(--secondary-bcg-color);
    }
    
    
    
    .feature__list, .work {
        background-color: var(--white);
    }
    
    .section__title {
        color: var(--secondary-text-color);
    }
    
    /*  FEATURES*/
    
    .features__title{
        color:var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    }
    
    .features__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    }
    