@media screen and (min-width:481px) and (max-width: 796px) {
    .footer {
        height: 464px;
    }

    .footer__logo-container {
        width: 232px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}