@media screen and (min-width: 481px) and (max-width: 1119px) {
    .hero__title {
        width: 360px;
        padding-top: 118px;
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-align: center;

    }

    .hero {
        width: 768px;
    }
}