@media screen and (min-width:768px) and (max-width: 1119px) {
    .hero__title {
        width: 360px;
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-align: center;

        padding-top: 118px;
    }


    // .hero {
    //     width: 768px;
    // }
}