body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body { 
    color: var(--primary-text-color) ;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}