@media screen and (min-width: 480px) and (max-width: 767px) {

    .clients__title {
        margin-bottom: 30px;
    }

    .clients__list {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }

    .clients__item {

        // width: 210px;
        width: calc( (100% - 2 * 15px) / 2 );
        margin-right: 15px;
        margin-bottom: 30px;

        // &:nth-child(even) {
        //     margin-right: 0;
        // }

        &:nth-child(n + 5) {
            margin-bottom: 0;
        }
    
    }


}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .clients__item:nth-child(even) {
        margin-right: 0;
    }
}


@media screen and (max-width: 479px) {

    .clients__list {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        // flex-basis: calc(100% - 30рх);
        justify-content: center;

        gap: 30px;
    }

    .clients__item {
        // width: calc((100% - 0 * 0px) /2);
        margin-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

   .clients__item:not(:last-child) {
    margin-right: 0;
   }
}