
@media screen and (min-width:480px) and (max-width: 767px) {

    .features__list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% - 1 * 30рх / 1)
    }

    .features__item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        //  чому спрацьовує тільки маржин лефт

        &:not(:last-child) {
            margin-bottom: 30px;
            // margin-right: 0;
            margin-right: auto;
        }

        &:last-child {
            margin-bottom: 60px;
        }
    
    }

    .features__title {
        text-align: center;
    }

    
}


