
@media screen and (max-width: 767px) {

    .features__list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% - 1 * 30рх / 1)
    }

    .features__item {
        width: 450px;

        &:not(:last-child) {
            margin-bottom: 30px;
            margin-right: 0;
        }

        &:last-child {
            margin-bottom: 60px;
        }
    
    }

    .features__title {
        text-align: center;
    }

    
}


