@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer__logo-container {
        width: 232px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        height: 604px;
        padding-left: auto;
        padding-right: auto;
    }

    .container.one {
        flex-direction: column;
    }

    .footer__lower-logo {
        margin-bottom: 0;
    }

    .contact-li:not(:last-child) {
        margin-bottom: 12px;
    }

    .contact-li:last-child {
        margin-bottom: 60px;
    }

    .footer__join-area {
        align-items: center;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscription__block {
        width: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .subscription__button {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscription__label {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    .subscription__input {
        width: 300px;
    }

    .subscription__form {
        margin-left: auto;
        margin-right: auto;
    }

    .tablet-logo-join-block {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

    }

    .clients__item {

        // width: 210px;
        width: calc( (100% - 2 * 15px) / 2 );
        margin-right: 15px;
        margin-bottom: 30px;

        // &:nth-child(even) {
        //     margin-right: 0;
        // }

        &:nth-child(n + 5) {
            margin-bottom: 0;
        }
    
    }
}


