@media screen and (max-width: 480px) {
    .footer__logo-container {
        width: 232px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .footer__location {
        margin-top: 0;
    }

    .footer {
        height: 604px;
    }
}