@media (max-width: 480px) {

    @media (min-resolution: 2dppx) {
        .hero {
            background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/header-img-mobile2x.jpg');
        }
    }

    .hero__title {
        width: 360px;
        padding-top: 118px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1119px) {

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/header-img-tablet2x.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {

    @media (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)), url('../images/bgimg-wide@2x.jpg');
        } 
    }
}