@media (max-width: 480px) {
    .hero {
        height: 400px;
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/header-img-mobile.jpg');
        background-size: contain;
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: url('../images/header-img-mobile2x.jpg');
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1119px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/header-img-tablet.jpg');
        background-size: contain; 

        // ??
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: url('../images/header-img-tablet2x.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/bgimg.jpg');
    }

    @media (min-resolution: 2dppx) {
        .hero {
          background-image: url('../images/bgimg-wide@2x.jpg');
        } 
    }
}


// @media screen and (max-width: 767px) {
//     .hero-button {
//         margin-left: 140px;
//     }
// } чому не працює?

