@media screen and (min-width: 480px) and (max-width: 1199px){

    // @media (min-resolution: 2dppx) {
       
    // }

    .team__title {
        margin-bottom: 30px;
    }

    .team__list {
        display: block;
        flex-wrap: wrap;
    }

    .team__item {
        width: 450px;
        height: 622px;

        &:not(:last-child) {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }


}