:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white: #fff;
    --black: #000;
    --secondary-bcg-color: #F5F4FA;
    --bcg-for-hw2: #F5F5F5;
    --footer-bgc: #2F303A;
    --footer-text-color:rgba(255,255,255,0.6);
    --border:  #ECECEC;
    --transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}