@media screen and (min-width: 1200px) {

    .container.features li {
        display: block;
        justify-content: center;
    }

    .features__list {
        display: flex;
        flex-direction: row;
            
            
        margin-right: auto;
        margin-left: auto;
                    
        padding-right: 0;
        align-items: baseline;
    }

    .features__item:not(:last-child) {
       margin-right: 30px;
    }
            
    .features__item {
        width: 270px;
    }

}