@media screen and (min-width: 1200px) {
    .hero{
        padding-top: 200px;
    }

    .hero {
        background-size: auto;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}